<div class="sidenav"><!-- 
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button> --><br><br>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a href="#" routerLink="/user" routerLinkActive="active" class="nav-link dropdown-toggle" data-toggle="dropdown">User's</a>
  <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a>
  </div>
  <a routerLink="/rating" routerLinkActive="active">Ratings</a>
  <a routerLink="/master" routerLinkActive="active">Master</a>
  <a routerLink="/addnews" routerLinkActive="active">Add News</a>
  <a routerLink="/newsshow" routerLinkActive="active">News</a>
  <a routerLink="/register" routerLinkActive="active">Signup</a>
</div>
<div class="main">
  <div class="header1" style="background-color:skyblue; padding: 0; height:100px; margin-top: 0; margin-left: 0; margin-right: 0;">
    <div style="clear:both">
    <h2 style="color:white; float: left;" ><br> &nbsp; Admin Panel - Newz</h2>
    <i class="glyphicon glyphicon-user" style="align:right; font-size:60px;color: white; margin-top: 10px; margin-left:800px;" routerLink="/logout" routerLinkActive="active"></i>
     <!--  <h3 routerLink="/logout" routerLinkActive="active" style="color: white; float: right; margin-right: 100px;">Logout</h3> -->
      </div>
      <hr/>
  </div>
</div>
<router-outlet></router-outlet>