<!--<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color: darkgrey; height: 722px;">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">User's<br></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Master</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-10" style="background-color:white;">
    <div class="header1" style="background-color:skyblue; padding: 0; height:100px; margin-top: 0; margin-left: 0; margin-right: 0;">
      <h2 style="color:white;"><br> &nbsp; Admin Panel - Newz</h2>
    </div>
    <app-login></app-login>
    </div>
  </div>
</div> -->

<div class="sidenav">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button><br><br>
  <a routerLink="Dashboard" routerLinkActive="active">Dashboard</a>
  <a href="#" routerLink="User" routerLinkActive="active" class="nav-link dropdown-toggle" data-toggle="dropdown">User's</a>
  <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a>
  </div>
  <a routerLink="Rating" routerLinkActive="active">Ratings</a>
  <a routerLink="Master" routerLinkActive="active">Master</a>
</div>
<!--<app-sidenavbar></app-sidenavbar>-->
<div class="main">
  <div class="header1" style="background-color:skyblue; padding: 0; height:100px; margin-top: 0; margin-left: 0; margin-right: 0;">
    <h2 style="color:white;"><br> &nbsp; Admin Panel - Newz</h2>
  </div>
  <!--<mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
  <!--<app-login></app-login>-->
  <!--<app-register></app-register>-->
  <app-user></app-user>
  <app-update></app-update>
  <!--<app-dashboard></app-dashboard>-->
</div>