<form>
  <h1 style="text-align:center;">Signup</h1>
  <div class="form-group" >
      <label for="name"><br>Name   </label>
      <input type="name" class="form-control" placeholder="Enter name" #name>
 <br>

  <label for="email">Email Id   </label>
     <input type="email" class="form-control" placeholder="Enter Email" #email>
<br>

     <label for="pwd">Password   </label>
     <input type="password" class="form-control" placeholder="Enter Password" #password >
<br>

</div>
<button  type="button" (click)="signup(name, email, password)" class="btn btn-primary" >Register</button>
</form>
